body {
background-color:cyan;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

section {

    display: grid;
    grid-template-columns:repeat(4,8rem) ;
    grid-template-rows: repeat(4,8rem);
    grid-gap: 2rem;
     perspective: 800px; 
}

.cardFace, .cardBack {
   width: 100%;
   height: 100%;
   position: absolute;
}
  .cardBack{
       background: white; 
     backface-visibility: hidden;  
  }

  .card{
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: rgba(0,0,0, 0.2) 0px 5px 15; 
  } 
  
  .toggleCard{
      transform: rotateY(180deg); 

  }